
# Files to ignore for heatmap-widget-flex repository

# Ant build project files
env.properties
local.properties

# FlashBuilder project files
.actionScriptProperties
/.settings/
.flexProperties
.flexLibProperties
.project

# Project directories
/bin/
/bin-debug/
/bin-release/
/build-widget-deps/
/dist/
/dist-widget/
/doc/
/docs/
/html-template/

# Other file types
*.sh
*.zip
